
@{
    ViewData["Title"] = "Index";
}

<div class="container-main" style="margin-left:25%">
    <h2>Bravo!<br />Vous faites maintenant partie de notre communaute,<br />vous allez bientôt recevoir un email de confirmation.</h2><br />
</div>



