
@{
    ViewData["Title"] = "Index";
}

<div class="container-main" style="margin-left:25%; margin-top:10%; margin-bottom:10%">
    <h2>Bravo!<br />Vous faites maintenant partie de notre communauté,<br />vous allez bientôt recevoir un email de confirmation.</h2><br />
</div>



